version: '3.1'

services:
  db:
    image: mysql:8.0.31
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - dbbase:/var/lib/mysql
    ports:
      - "3307:3306"

  phpmyadmin:
    image: phpmyadmin
    ports:
      - 8000:80
    environment:
      PMA_HOST: db
      PMA_PORT: 3306

volumes:
  dbbase:
