.colaboradores ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .colaborador-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
  }
  